<menu class="side-menu right four columns">

	{{yield}}

	<label for="dashboard-name">Dashboard name:</label>
	{{input class="u-width-full" id="dashboard-name" value=dashboard.name}}
	<label for="dashboard-description">Description:</label>
	{{input class="u-width-full" id="dashboard-description" value=dashboard.text}}

	{{#each-in dashboard.displays as |index value|}}

		{{#draggable-object content=this}}
			{{input type="checkbox" name=value.name id=value.key checked=value.status click=(action "changeDashboardSelection")}}
			<label for={{value.key}}>{{value.name}}</label>
		{{/draggable-object}}
		
	{{else}}
		No graphs available at this time. Sorry!
	{{/each-in}}
</menu>