<nav class="side-menu left three columns">
	<h1>{{#link-to 'index'}}Reports{{/link-to}}</h1>

	<ul>
		{{#each account as |account|}}
		<li class="menu-profile-container row">
			{{#link-to 'account' account.id}}
			<div class="one-third column profile-user-image u-pull-left">
				<img class="" src="{{account.image}}">
			</div>
			<div class="two-thirds column">
				{{account.name}} {{account.lastname}}<br>
				{{account.role}}
			</div>
			{{/link-to}}
		</li>
		{{/each}}
	</ul>

	<ul>
		{{#each dashboard as |dashboard|}}
			<li>{{#link-to 'dashboard.board' dashboard.id}}{{fa-icon 'fa-hashtag'}}{{dashboard.name}}{{/link-to}}</li>
		{{/each}}
		<li>{{#link-to 'dashboard.new'}}{{fa-icon 'fa-plus-circle'}}Add new dashboard{{/link-to}}</li>
	</ul>

	<hr>

	<div id="navigation-links">
	{{!-- {{link-to 'settings' 'Settings'}}
	{{link-to 'about' 'About'}} --}}
	<a href="#">Settings</a>
	<a href="#">About</a>
	</div>

</nav>