<div class="row">
	<div class="eleven columns">
		<h3>{{model.name}}</h3>
		<p>{{model.text}}</p>
	</div>

	<div class="one columns edit-button">
	{{#link-to 'dashboard.board.edit' model.id class="btn utility hide-on-phones"}}{{fa-icon "fa-pencil"}}Edit{{/link-to}}
	</div>
</div>

{{outlet}}

<section class="dashboard-display">
	{{#each-in model.display as |key value|}}
		{{#if value}}
			Display pulse component: <b>{{key}}</b>
		{{/if}}
	{{else}}
		No graphs to display
	{{/each-in}}
</section>