<div class="row">
	<div class="eleven columns">
		<h3>{{model.dashboard.name}}</h3>
		<p>{{model.dashboard.text}}</p>
	</div>

	<div class="one columns edit-button">
	{{#link-to 'dashboard.board.edit' model.dashboard.id class="btn utility hide-on-phones"}}{{fa-icon "fa-pencil"}}Edit{{/link-to}}
	</div>
</div>

{{outlet}}

<section class="dashboard-display">
	{{#each model.display as |display|}}

		<b>Name: {{display.name}}</b> --
		Status: {{display.status}}
		<br>

	{{else}}
		No graphs to display
	{{/each}}

	{{log 'Display: ' model.display}}
</section>