<div class="row">
	<div class="six columns">
		<h3>
			{{#if model.name}}
				{{model.name}}
			{{else}}
				Name of the Dashboard
			{{/if}}
		</h3>
		<p>
			{{#if model.text}}
				{{model.text}}
			{{else}}
				Description.
			{{/if}}
		</p>

		{{dashboard-drop}}
	</div>
</div>

{{#menu-graph-drag model=model}}
	<div class="u-width-full">
		{{#link-to 'dashboard.board' model.id class="btn one-half column" invokeAction="createNewDashboard"}}Create{{/link-to}}
		<button type="reset" class="btn one-half column warning">Reset Form</button>
	</div>
{{/menu-graph-drag}}