<div class="row">
	<div class="profile profile-user-image three columns">
			{{#if model.image}}
				<img src="{{model.image}}">
			{{/if}}
	</div>
	<div class="five columns">
			{{#if model.name}}
				<h4>{{model.name}} {{model.lastname}}</h4>
				<p>{{model.email}}</p>
				<br>
				<p>{{model.role}} - <b>{{model.partnername}}</b></p>
			{{else}}
				<h4>Ooops!</h4>
				<p>Couldn't load profile - are you logged in?</p>
				<p class="warning">We're sorry - this shouldn't have happened!</p>
			{{/if}}
	</div>
</div>

<hr class="u-cf">

<div class="link-list row profile-sub-links">
	{{link-to 'Account settings' 'account.settings'}}
	<a href="#">Some other link</a>
	<a href="#">More links</a>
</div>

{{outlet}}