<div class="row">
	<div class="profile-user-image two columns">
			{{#if image}}
				<img src="{{image}}">
			{{/if}}
	</div>
	<div class="five columns">
			{{#if name}}
				<h4>{{name}} {{lastname}}</h4>
				<p>{{email}}</p>
				<p>{{role}}</p>
			{{else}}
				<h4>Ooops!</h4>
				<p>Couldn't load profile - are you logged in?</p>
				<p class="warning">We're sorry - this shouldn't have happened!</p>
			{{/if}}
	</div>
</div>