<header>
		<h1 class="three columns">Reports</h1>
		<menu class="nine columns" id="top-menu">
			<ul>
			<li>{{fa-icon "fa-wrench"}} Settings</li>
			<li>{{fa-icon "fa-user"}} Profile</li>
			<li>{{fa-icon "fa-bell"}} Notifications</li>
			</ul>
		</menu>
</header>

{{side-menu}}

{{outlet}}
